@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

:root {
    --white: #fff;
    --light-blue: #676f9d;
    --gray: #424769;
    --dark-gray: #2d3250;
    --orange: #f9b17a;
    --body-background: #22273d;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--body-background);
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35rem;
    background: var(--dark-gray);
    border-radius: 10px;
    box-shadow: 0px -50px 10px 20px var(--body-background),
    -50px -13px 10px 10px var(--body-background),
    50px -13px 10px 10px var(--body-background),
    0px 10px 50px -25px #10152c;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 25rem;
    border-radius: 10px;
}

.input {
    padding: 1rem;
    border: none;
    margin-bottom: 5px;
    width: 100%;
    background-color: var(--light-blue);
    transition: .15s;
    color: var(--white);
}

h1, p {
    color: var(--white);
    align-self: flex-start;
    font-weight: bold;
}

p {
    margin-bottom: 2.5rem;
}

.input:focus {
    outline: none;
    border-left: 3px solid var(--orange);
}

input .checkbox {
    width: 100px;
    height: 100px;
    align-self: flex-start;
}

button {
    padding: 1rem;
    border: none;
    margin-bottom: 5px;
    width: 25%;
    background-color: var(--orange);
    transition: .1s;
    color: var(--dark-gray);
    font-weight: bolder;
    align-self: flex-start;
    border-radius: 5px;
    margin-top: 1rem;
}

button:hover {
    background-color: #fac297;
    cursor: pointer;
}